* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 251, 252);
    user-select: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    background-color: rgb(4, 103, 217);
    color: white;
    height: 50px;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.twofour {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}


.header-main {
    background-color: rgb(5, 116, 242);
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.logo-card {
    width: 30px;
    height: 30px;
    border: 10px solid yellow;
    border-radius: 50%;
}

.logo-name {
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: cursive;
}

.logo-namecard {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

header {
    background-color: rgb(5, 116, 242);
}

header input {
    height: 50px;
    width: 300px;
    padding-left: 20px;
    font-size: 18px;
}

.position {
    position: relative;
}

.position-absolute {
    position: absolute;
    top: 16px;
    left: 90%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: blue;
}

.ul ul {
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;
    flex-wrap: wrap;
}

.ul ul li {
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}

.menu button {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    font-size: 25px;
}

.position-relative {
    position: relative;
}

.image {
    height: 600px;
    width: 100%;
}

.card {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 100px;
    background-color: white;
}

.card-main {
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.card h1 {
    width: 80%;
    margin: auto;
    font-size: 35px;
    color: rgb(57, 56, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card h4 {
    width: 80%;
    margin: auto;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card h5 {
    width: 80%;
    margin: auto;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(57, 56, 56);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card div {
    width: 80%;
    margin: auto;
}

.card button {
    background-color: transparent;
    color: rgb(81, 81, 255);
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin-top: 20px;
}

.card-80 {
    position: absolute;
    border: 0px solid black;
    width: 90%;
    height: 100px;
    top: 90%;
    left: 5%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.box {
    width: 25%;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
}

.box1 {
    border-right: none;
}

.icone {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 70%;
}

.text h5 {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text h6 {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(46, 45, 45);
}

.box-products {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 80px;
    position: relative;
    background-color: white;
}

.box-products h1 {
    margin-top: 20px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 40px;
    height: auto;
    padding-bottom: 20px;
}

.products-card {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-1 {
    position: absolute;
    top: 75%;
}


.position-1 h4 {
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.position-1 h5 {
    text-align: center;
    margin-top: 10px;
    color: rgb(123, 121, 121);
}

.images-two{
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
}

.card-image{
    border: 1px solid black;
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(180deg, #000000E6 0%, #000000E6 100%);
    position: relative;
}

.position-2{
    position: absolute;
    top: 0;
    left: 0;color: white;
    width: 100%;
    padding-top: 100px;
    display: grid;
    justify-content: center;
}
.position-2 h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.line-1{
    width: 40%;
    height: 1px;
    border: 1px solid white;
    margin: auto;
    margin-top: 10px;
}
.position-2 button{
    background-color: transparent;
    width: 100px;
    color: white;
}

.button a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content:center ;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.box-products a{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.products-card-main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}
.card-product-main{
    width: 300px;
    height: 450px;
    border: 1px solid black;
}

.card-60{
    width: 100%; 
    height: 65%;
    border: 1px solid black;
    position: relative;
}
.card-40{
    width: 100%; 
    height: 35%;
}
.card-60 button{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    width: 50px;
    height: 30px;
    border-radius: 35px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card-60:hover{
   border: none;
}
.card-40 i{
    margin-top: 15px;
    padding-left: 20px;
}
.card-40 p{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.price{
    display: flex;
    padding-left: 20px;
    gap: 5px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.price-1{
    color: rgb(117, 116, 116);
}
























@media(max-width:1203px) {
    .ul ul li {
        font-size: 15px;
    }

    .text h5 {
        font-size: 13px;
    }

    .text h6 {
        font-size: 13px;
    }

    .icone {
        width: 20%;
    }

    .text {
        width: 80%;
    }
}

/* @media(max-width:1050px){
    .ul ul li{
        font-size: 12px;
    }
    .ul ul{
        gap: 10px;
    }
} */
@media(max-width:1150px) {
    .card {
        width: 50%;
        height: 300px;
        top: 520px;
        border: 1px solid black;
        background-color: rgb(232, 231, 231);
    }

    .card-main {
        display: flex;
        justify-content: center;
    }

    .card h4 {
        font-size: 15px;
        margin-top: 20px;
    }

    .card h1 {
        font-size: 25px;
    }

    .card button {
        margin-top: 0;
    }

    .card-80 {
        top: 850px;
    }

    .box-products {
        top: 300px;
    }

    .products-card {
        width: 200px;
        height: 200px;
    }

    .products-card h4 {
        font-size: 13px;
    }

    .products-card h5 {
        font-size: 10px;
    }
    .images-two{
        top: 300px;
        position: relative;
    }
}

@media(max-width:900px) {
    .twofour {
        font-size: 15px;
    }

    .card-80 {
        width: 100%;
        left: 0;
        height: 60px;
    }

    .text h5 {
        font-size: 12px;
    }

    .text h6 {
        font-size: 12px;
    }

    .icone {
        font-size: 12px;
    }
    .images-two{
        height: 200px;
        gap: 20px;
    }
    .position-2{
        padding-top: 50px;
    }
    .position-2 h1{
        font-size: 25px;
    }
    
    
}

@media(min-width:700px) {
    .menu {
        display: none;
    }

}

@media(max-width:700px) {
    .ul {
        display: none;
    }

    .header-main {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .twofour {
        font-size: 15px;
    }

    .header ul li {
        font-size: 15px;
    }

    .card {
        width: 80%;
    }

    .image {
        height: 300px;
    }

    .card {
        top: 250px;
        width: 70%;
        height: auto;
        padding-bottom: 20px;
    }

    .card h4 {
        margin-left: 10px;
    }

    .card h1 {
        font-size: 15px;
        margin-left: 10px;
        width: 95%;
    }

    .card h5 {
        margin-left: 10px;
        font-size: 15px;
        width: 95%;
        margin-top: 10px;
    }

    .card div {
        margin-left: 10px;
    }

    .card button {
        font-size: 18px;
    }

    .card-80 {
        top: 450px;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: auto auto;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
        background-color: white;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .box {
        width: 100%;
        border: none;
    }

    .products-card {
        width: 150px;
        height: 150px;
    }

    .products-card h4 {
        font-size: 10px;
    }

    .products-card h5 {
        font-size: 10px;
    }

    .box-products h1 {
        font-size: 18px;
        padding-top: 10px;
    }
    .position-2 h1{
        font-size: 20px;
    }
    .card-product-main{
        width: 250px;
        height: 400px;
    }
    .card-40 p{
        font-size: 10px;
    }
    .price{
        margin-top: 10px;
    }
}

@media(max-width:550px) {
    .twofour {
        font-size: 12px;
    }

    .header ul li {
        font-size: 10px;
    }

    .position input {
        width: 250px;
        padding-left: 10px;
        height: 40px;
    }

    .position-absolute {
        top: 10px;
    }

    .card h1 {
        font-size: 18px;
    }

    .card h5 {
        font-size: 15px;
    }

    .card {
        height: auto;
        padding-bottom: 20px;
    }

    .card-80 {
        top: 500px;
    }

    .box-products {
        top: 350px;
    }
    .images-two{
        top: 350px;
    }
    .images-two{
        display: block;
        height: auto;
    }
    .card-image{
        width: 100%;
    }
    .position-2{
        padding-top: 20%;
    }
    .card-product-main{
        width: 200px;
        height: 300px;
    }
    .card-40 p{
        font-size: 8px;
        font-weight: normal;
        margin-top: 5px;
        padding-right: 0;
    }
    .price{
        margin-top: 10px;
        font-size: 13px;
    }

}

@media(max-width:500px) {
    .position {
        display: none;
    }

    .header ul {
        display: none;
    }

    .card-main {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .card-product-main{
        width: 150px;
        height: 250px;
    }
    .card-40 i{
        margin-top: 5px;
        padding-left: 5px;
        font-size: 10px;
    }
    .card-40 p{
        font-size: 8px;
        font-weight: normal;
        margin-top: 5px;
        padding-right: 0;
        padding-left: 5px;
    }
    .price{
        margin-top: 5px;
        font-size: 10px;
        padding-left: 5px;
    }

}

@media(max-width:400px) {
    .card h1 {
        font-size: 13px;
    }

    .image {
        height: 250px;
    }

    .card {
        top: 230px;
    }

    .card-80 {
        top: 450px;
        display: grid;
        grid-template-columns: auto;
        width: 70%;
        left: 15%;
    }

    .box-products {
        top: 500px;
    }

    .products {
        gap: 15px;
    }

    .products-card {
        width: 100px;
        height: 100px;
    }

    .products-card h4 {
        font-size: 7px;
    }

    .products-card h5 {
        font-size: 7px;
        margin-top: 5px;
    }
    .images-two{
        top: 500px;
    }
}

@media(max-width:350px) {
    .card h1 {
        font-size: 12px;
    }

    .card {
        width: 90%;
    }

    .card h5 {
        font-size: 10px;
    }

    .card button {
        font-size: 12px;
    }

    .card-80 {
        width: 90%;
        left: 6%;
    }
}